/* removes all hyperlink effects */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

    .header {
        display: flex;
        justify-content: space-between;

        padding-left: 120px;
        padding-right: 120px;
        padding-top: 10px;
        background-color: #1F2937;
        color: white;
    }
        .header1{
            font-weight: bold;
            font-size: 24px;
        }
        .header2{
            display: flex;
            gap: 40px;
        }
    .body1 {
        display: flex;
        gap: 50px;

        padding: 120px;
        background-color: #1F2937;
        color: white;
    }
        .body1-container1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .awesome{
                font-size: 48px;
                font-weight: 800;
                color: #F9FAF8;
            }
            .header-button {
                color: white;
                background-color: #3882F6;
                border-radius: 7px;
                font-weight: bold;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 7px;
                padding-bottom: 7px;
                max-width: fit-content;               /* this fixes the stretching issue with flexblock columns */
            }
        .body1-container2 {
            display: flex;
        }
            .img-placeholder {
                background-color: grey;
                color: white;
                padding: 80px 160px;
            }
    .body-squares {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px;
    }
        .squares-header{
            display: flex;

            color: #1F2937;
            font-size: 36px;
            font-weight: 800;
        }
        .squares-container {
            display: flex;
            flex-flow: row wrap;
            gap: 40px;
            justify-content: center;
        }
            .square1,
            .square2,
            .square3,
            .square4 {
                display: flex;
                flex-direction: column;
                flex: 0;
            }
                .square {
                    border: solid #3882F6 3px;
                    border-radius: 10px;
                    padding: 80px;
                }
                .square-text {
                    text-align: center;
                }

    .body-quote {
        display: flex;
        flex-direction: column;

        background-color: #E5E7EB;
        padding: 100px;
    }
        .quote {
            display: flex;

            font-weight: light;
            font-style: italic;
            font-size: 36px;
            color: #1F2937;

        }
        .quote-author {
            display: flex;
            align-self: flex-end;

            font-weight: bold;
        }
    .signup {
        display: flex;
        justify-content: space-between;

        background-color: #3882F6;
        color: white;
        padding: 50px;
        margin: 80px 120px;
        border-radius: 7px;
    }
        .signup-container1 {
            display: flex;
            flex-direction: column;
        }
            .signup-text1 {
                font-weight: bold;
            }
            .signup-text2 {
            }
        .signup-container2 {
            display: flex;
        }

        .signup-button {
            border-color: white;
            color: white;
            background-color: #3882F6;
            border-radius: 7px;
            font-weight: bold;
            padding-left: 15px;
            padding-right: 15px;
        }